.caja{
    padding: 10px;
}
h2{
    font-size: 30px;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}
.buttonDelete{
    font-size: 15px;
    border-radius: 10px;
    color: #A63126;
    background-color: #000;
    font-family: 'Roboto Condensed', sans-serif;
}